@use "@abstracts" as *;
@use "sass:color" as color;
@use "../tokens" as *;
@use "./tokens" as local;

.kit-play-desktop {
  &__metronome-wrapper {
    @include local.panel-wrapper;
  }

  &__metronome-header {
    margin-bottom: 2rem;
  }

  &__metronome-title {
    color: var(--kit-play-color-foreground);
    font-size: $text-2xl;
    font-weight: $font-weight-semibold;
  }

  &__metronome-content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__metronome-display {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__metronome-controls {
    display: flex;
    justify-content: start;
  }

  &__metronome-play-btn {
    @include main-button;

    min-width: 10rem;
  }

  &__metronome-bpm-section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }

  &__metronome-btn {
    @include secondary-button;

    aspect-ratio: 1;
  }

  &__bpm-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }

  &__bpm-input {
    @include input-clear;

    width: 8rem;
    height: 4rem;
    background: transparent;
    color: var(--kit-play-color-main);
    border-radius: $radius-md;
    font-family: $font-header;
    font-size: $text-2xl;
    font-weight: $font-weight-semibold;
    text-align: center;

    &:focus {
      border-color: var(--kit-play-color-main);
    }
  }

  &__bpm-label {
    color: var(--kit-play-color-foreground);
    opacity: 0.7;
    font-size: $text-sm;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
  }

  &__metronome-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    padding-right: 4rem;
  }

  &__metronome-pulse {
    width: 4rem;
    height: 4rem;
    background-color: var(--kit-play-color-main);
    border-radius: $radius-full;
    opacity: 0.3;
    transition: all $transition-duration-unit $transition-ease-in-out;

    &--active {
      animation: pulse 1s infinite;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }

  50% {
    opacity: 0.8;
    transform: scale(1.2);
  }

  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}
