@use "@abstracts" as *;
@use "sass:color" as color;
@use "../tokens" as *;
@use "./tokens" as local;

.kit-play-desktop {
  &__sliders-wrapper {
    @include local.panel-wrapper;
  }

  &__sliders-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__sliders-title {
    color: var(--kit-play-color-foreground);
    font-size: $text-2xl;
    font-weight: $font-weight-semibold;
  }

  &__reset-btn {
    @include secondary-button;

    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__sliders-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0;
  }

  &__slider-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .slider__label {
      padding-bottom: 1rem;
      color: var(--kit-play-color-foreground) !important;
      font-weight: $font-weight-medium;
    }
  }
}
